<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title *ngIf="isCategoryEmpty">Catégorie vide !</ion-title>
    <ion-title *ngIf="!isCategoryEmpty">CategoryPage</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="category">
    <ion-item *ngIf="!isCategoryEmpty" [routerLink]="['/edit-category/' + category.id]" routerDirection="root">
      <ion-label>
        <h1>{{ category.title }}</h1>
      </ion-label>
      <ion-icon name="create" color="medium" [routerLink]="['/edit-category/' + category.id]"></ion-icon>
    </ion-item><br>

    <ion-item [routerLink]="['/new-card/' + category.id]">
      <ion-icon name="add-circle" padding [routerLink]="['/new-card/' + category.id]" routerDirection="forward">
      </ion-icon>
      Ajouter des cartes
    </ion-item><br>

    <ion-item *ngFor="let card of cards">
      <ion-label text-wrap>{{ card.question }}<br>{{ card.answer }}
      </ion-label>
      <ion-icon name="create" color="medium" [routerLink]="['/edit-card/' + category.id + '/' + card.id]"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>