<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Editer une flashcard</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content *ngIf="card" padding>
  <ion-list>
    <ion-item margin>
      <ion-label for="question" padding margin>
      </ion-label>
      <ion-input [(ngModel)]="card.question"></ion-input>
    </ion-item>
    <ion-item margin>
      <ion-label for="answer" padding margin>
      </ion-label>
      <ion-input [(ngModel)]="card.answer"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="onEditCard()" [routerLink]="['/category/' + catId]" routerDirection="root" color="tertiary">
    Soumettre les
    modifications</ion-button>

  <ion-button (click)="onDeleteCard()" [routerLink]="['/category/' + catId]" routerDirection="root" color="tertiary"
    shape="round" size="large" padding>
    Supprimer flashcard</ion-button>

</ion-content>