<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isCategoryEmpty">Catégorie vide !</ion-title>
    <ion-title *ngIf="!isCategoryEmpty">GamePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isCategoryEmpty" [routerLink]="['/new-card/' + catId]">
  <ion-item [routerLink]="['/new-card/' + category.id]">
    <ion-icon name="add-circle" padding [routerLink]="['/new-card/' + category.id]" routerDirection="forward">
    </ion-icon>Ajouter des cartes
  </ion-item>
</ion-content>

<ion-content color="#f5f6f9" *ngIf="!isCategoryEmpty">
  <ion-card class="flashcard" [ngClass]=" {question: !questionDisplayed, answer:
  questionDisplayed}" *ngIf="!stackCompleted">

    <ion-card-title id="question" class="QA" padding *ngIf="!questionDisplayed" (click)='onDisplayAnswer()'>
      {{currentQuestion}}
    </ion-card-title>

    <ion-card-title class="QA" padding *ngIf="questionDisplayed" (click)='onGetNextQuestion()'>
      {{currentAnswer}}
    </ion-card-title>

    <ion-card-subtitle *ngIf="(currentArray.length -1) > 1" class="info" padding>
      {{currentArray.length -1}} cartes restantes
    </ion-card-subtitle>
    <ion-card-subtitle *ngIf="(currentArray.length -1) == 1" class="info" padding>
      {{currentArray.length -1}} carte restante
    </ion-card-subtitle>
    <ion-card-subtitle *ngIf="(currentArray.length -1) < 1" class="info" padding>
      Dernière carte !
    </ion-card-subtitle>

  </ion-card>

  <ion-card class="flashcard" *ngIf="stackCompleted" routerLink="/home" routerDirection="root">

    <ion-card-title class="QA">
      Pile de cartes terminée !
    </ion-card-title>

    <ion-card-subtitle class="info">
      Cliquez pour retourner à la page d'accueil !
    </ion-card-subtitle>

  </ion-card>
</ion-content>