<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--faire un action sheet sur appui long pour consulter/éditer une catégorie-->
<!--modifier le "['/category/']" en "['/home/' + category.id]"-->
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-icon name="add-circle" padding [routerLink]="['/new-category']" routerDirection="forward"></ion-icon>
      Créer une nouvelle catégorie
    </ion-item>
    <br>
    <ion-item *ngFor="let category of categories" category.id="[category.id]">
      <ion-label [routerLink]="['/game/' + category.id]" routerDirection="forward">{{ category.title }}</ion-label>
      <ion-icon name="eye" color="medium" padding [routerLink]="['/category/' + category.id]"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>