<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Catégories
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--faire un action sheet sur appui long pour consulter/éditer une catégorie-->
<!--modifier le "['/category/']" en "['/home/' + category.id]"-->
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let category of categories" [routerLink]="['/game/' + category.id]" routerDirection="forward">
      <ion-label>{{ category.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>